a:hover {
  text-decoration: none;
}

.linkImages {
  width: 500px;
  margin: 25px;
}

h1 {
  font-size: 100px;
}
h3 {
  font-size: 50px;
}

@media only screen and (max-width: 600px) {
  .linkImages {
    width: 300px;
    margin: 25px;
  }
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 25px;
  }
}
